@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Doto';
  src: url('/fonts/Doto-Regular.woff2') format('woff2'),
       url('/fonts/Doto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
       url('/fonts/LibreBaskerville-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: 'Doto',Arial, Helvetica, sans-serif;
}
